*{
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
    box-sizing: border-box;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg) ;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 0.2% 1.5%;
    justify-content: space-between;
    align-items: center;



}
nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #9C8A86;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
   font-size: 62px;
}
.text-box p{
    font-size: 25px;
    margin: 10px 0 40px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: #9C8A86;
    position: relative;
    cursor: pointer;
    border-radius: 40px;

}
.hero-btn:hover{
    background: #d1bcb8;
    transition: 0.6s;

}

nav .fa{
    display: none;

}

@media(max-width: 700px) {
    .text-box h1{
    font-size: 62px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #786c68;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
.course h1{
    color: #3b3737;
    font-size: 36px;
    font-weight: 600;
}
.row{
    color: #3b3737;
    margin-top: 2%;
    justify-content: space-between;
    display:flex;

    flex-wrap:wrap;
    overflow-y:hidden;
    padding: 13px 13px;
}
.course-col{
    color: #3b3737;
    flex-basis: 31%;
    background: #bdaaaa;
    border-radius: 15px;
    margin-bottom: 5%;
    margin-top: 10px;
    padding: 20px 15px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col ul li{
    list-style: none;
    margin-top: 5%;
    justify-content: space-between;
    display:flex;
    flex-wrap:wrap;
    display: inline-block;
    padding: 10px 20px;
}
.course-col ul li a{
    text-decoration: none;
    color: #fff;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,1);
}
.course-col h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
.questions{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
.questions h1{
    color: #3b3737;
    font-size: 36px;
    font-weight: 750;
}
.questions{
    background: #8f8988;
    height: 480px;
}
.questions-col h3{
        font-family: 'Noto Sans', sans-serif;
        font-size: 29px;
        font-weight: 450;
        margin-top: 8px;
}
.questions-col{
        color: #f2ebe9;
        flex-basis: 31%;
        border-radius: 15px;
        margin-top: 20px;
        padding: 2px 2px;

}
.questions-col p{
        margin-top: 1.5%;
        padding: 2px 2px;
        color: #f2e9e6;
        box-sizing: border-box;
        font-size: 19px;

}

.learnMore{
    display : flex;
    flex-direction : row;
}
.learnMore-col1{
    margin: 50px auto;
    width: 45%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    border-radius: 5px;
    text-align: center;
    padding: 50px 0;

}
.learnMore-col1 h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0px;
    font-weight: 900;
    font-size: 30px;
}
.learnMore-col1 p{
    color: #fff;
    margin-bottom: 8%;
    font-size: 22px;
}

.learnMore-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: #9C8A86;
    position: relative;
    cursor: pointer;
    border-radius: 40px;

}
.learnMore-btn:hover{
    background: #d1bcb8;
    transition: 0.6s;

}

.learnMore-col2{
    margin: 50px auto;
    width: 45%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner3.jpg);
    background-position: center;
    border-radius: 5px;
    text-align: center;
    padding: 50px 0;

}
.learnMore-col2 h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0px;
    font-weight: 900;
    font-size: 30px;
}
.learnMore-col2 p{
    color: #fff;
    margin-bottom: 5%;
    font-size: 22px;
}
.text-box-aboutUs{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.text-box-aboutUs h1{
   font-size: 62px;
}
.text-box-aboutUs p{
    font-size: 35px;
    margin: 10px 0 40px;
    color: #fff;
}
.aboutUs-logo{
    float: right;
    width: 700px;
}